version: 2.1
jobs:
  deployDesarrollo:
    docker:
      - image: circleci/openjdk
    steps:
      - add_ssh_keys:
          fingerprints:
            - "56:91:33:d7:f1:58:09:79:16:9d:71:2e:5f:be:d8:98"
      - checkout
      - run:
          name: "Deploy development"
          command: |
            scp -v -o StrictHostKeyChecking=no -i secondtry.pem -r index.html ec2-18-212-132-172.compute-1.amazonaws.com:/var/www/html/index.html
  deployProduccion:
    docker:
      - image: circleci/openjdk
    steps:
      - add_ssh_keys:
          fingerprints:
            - "56:91:33:d7:f1:58:09:79:16:9d:71:2e:5f:be:d8:98"
      - checkout
      - run:
          name: "Deploy production"
          command: |
            scp -o StrictHostKeyChecking=no -r index.html ec2-34-225-45-85.compute-1.amazonaws.com:/var/www/html/index.html
workflows: 
  version: 2
  Ejecutar:
    jobs:
      - deployDesarrollo
      - request-testing:
          type: approval
          requires:
            - deployDesarrollo
      - deployProduccion:
          requires:
            - request-testing